.main_container {
  position: absolute;
  display: block;
  text-align: justify;
  border-radius: 10px;
  margin-top: 125px; /* navbar (75px) + padding (25px) */
  padding: 10px;
  padding-left: 30px;
  left: 12.5%;
  width: 75%;
  height: calc(
    100% - 150px
  ); /* navbar (75px) + top padding (25px) + bottom padding (25px) */
  background: var(--white-background);
  overflow-y: scroll;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none; /* IE and Edge */
}

@-moz-document url-prefix() {
  .main_container {
    padding-right: 30px;
    scrollbar-width: 20px;
  }
}

/* Create a beautiful scrollbar for Chrome, Safari and Opera */
.main_container::-webkit-scrollbar {
  width: 20px;
}

.main_container::-webkit-scrollbar-track {
  background-color: transparent;
}

.main_container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.main_container::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
/* end of scrollbar */
