@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-gray: #d9d9d9;
  --nav-background: #658bc3;
  --white-background: #ffffff;
}

html,
body {
  color: var(--foreground);
  background: var(--background-gray);
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  padding-bottom: 10px;
  font-size: 26px;
}

p {
  line-height: 20px;
  padding-bottom: 10px;
}

p a {
  color: #0000EE;
}

p a:hover {
  color: #7777FF;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
  padding-bottom: 10px;
}
