@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #c3d6f2;
  --nav-background: #769cd4;
  --white-background: #ffffff;
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  padding-bottom: 10px;
  font-size: 26px;
}

p {
  line-height: 20px;
  padding-bottom: 10px;
}

p a {
  color: #0000ee;
}

p a:hover {
  color: #7777ff;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
  padding-bottom: 10px;
}
