.profileContainer {
  position: absolute;
  display: flexbox;
  text-align: justify;
  border-radius: 10px;
  margin-top: 50px; /* padding (25px) */
  padding: 10px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(
    100% - 150px
  ); /* navbar (75px) + top padding (25px) + bottom padding (25px) */
  background: var(--white-background);
}

.imageContainer {
  display: grid;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 10px;
}

.doubleItemContainer {
  margin-top: 30px;
  width: calc(100% - 20px);
  margin-left: 10px;
  height: fit-content;
}

.itemContainer {
  float:inline-start;
  text-align: center;
  width: 50%;
  display: inline-flex;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.textArea {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  font-size: 26px;
  resize: none;
  border: none;
  width: fit-content;
  overflow-y: hidden;
  max-height: 40px;
  max-width: 50%;

  /* Removes border effects */
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border: 2px solid red;
  border-radius: 10px;
}

.itemText {
  border: 2px solid black;
  height: 40px;
  width: auto;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: auto;
}
